body {
    font-family: 'Poppins';
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
@media(max-width: 1200px){
    .main-container {
        grid-template-columns:repeat(6, 1fr);
    }
}
@media(max-width: 1050px){
    .main-container {
        grid-template-columns: repeat(5, 1fr);
    }
}
@media(max-width: 950px){
    .main-container {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (max-width: 750px){
    .main-container {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media(max-width: 550px){
    .main-container {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 370px){
    .main-container {
        grid-template-columns: repeat(1, 1fr);
    }
}
.inner-container {
    background: red;
    border-right: 1.5px solid black;
    border-bottom: 1.5px solid black;
    max-width: 200px;
    min-height: 150px;
    padding: 0.5em 2em;
}
.add-to-cart {
    background: #004a4d;
    color: white;
}